<h1>Your Trips</h1>
<% if params[:user_id] %>
  <%= form_tag  user_trips_path(current_user), method: :get do %>
    <%= label_tag "Filter by Date" %>
    <%= select_tag :filter, options_for_select(["Future Trips", "Past Trips", "Current Trips"]), include_blank: true %>
    <%= submit_tag :filter %>
  <% end %>

<% elsif params[:home_id] %>
  <%= form_tag  home_trips_path(@home), method: :get do %>
    <%= label_tag "Filter by Date" %>
    <%= select_tag :filter, options_for_select(["Future Trips", "Past Trips", "Current Trips"]), include_blank: true %>
    <%= submit_tag :filter %>
  <% end %>

<% end %>

<% @trips.each do |trip| %>
  <ul>
    <li>
    <h3>At <%= trip.home.address %> from <%= trip.start_date.strftime('%m/%d/%Y') %> through <%= trip.end_date.strftime('%m/%d/%Y') %>
    <%= link_to 'Update', edit_user_trip_path(current_user, trip) %>
    </h3>
    
    </li>
  </ul>
<% end %>