<h1>Add Your Home</h1>
<% @home.errors.full_messages.each do |m| %>
  <li><%= m %></li>
<% end %>


<%= form_for @home do |f| %>
  <%= f.collection_select :user_id, User.all, :id, :name %>

  <%= f.label :address %>
  <%= f.text_field :address %> <br><br>

  <%= f.submit %>
<% end %>